@model IEnumerable<ProjectOne_Missions.Models.MissionQuestions>

@{
    ViewBag.Title = "FAQ";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>


        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            Question By
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>


        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.UserFName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer) &nbsp  <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i> <i>53 likes</i>
        </td>
        <td>
            @Html.ActionLink("Answer", "FAQSend", new { id = item.MissionQ_ID }) |
            @Html.ActionLink("Like", "Details", new { id = item.MissionQ_ID })
        </td>
    </tr>
    }

</table>



<script>
    function myFunction(x) {
        x.classList.toggle("fa-thumbs-down");
    }
</script>
